<!DOCTYPE html>
<html>

<head>
    <title>Assign Faculty</title>

    <!-- links -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="public/faculty_styles.css">

    <!-- scripts -->
    <!-- <script src="public/index_faculty.js"></script> -->
</head>

<body>
    <div class="container">
        <h1><b>Assign Faculty</b></h1>
        <br>
        <br>
        <form action="/api/faculty" method="POST" id="faculty">
            <ul>
                <% for (var i=0; i < departments.length; i++) { %>
                    <li>
                        <%= departments[i].dept %>
                    </li>
                    <% } %>
            </ul>
            <div class="form-group">
                <label for="dropdown1">Department</label>
                <select class="form-control" id="dropdown1" name="dept">
                    <option>Choose Department</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dropdown2">Teacher's Name</label>
                <select class="form-control" id="dropdown2" name="t_name">
                    <option>Choose Teacher</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dropdown3">Semester</label>
                <select class="form-control" id="dropdown3" name="sem">
                    <option>Choose Semester</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dropdown4">Course</label>
                <select class="form-control" id="dropdown4" name="course">
                    <option>Choose Course</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dropdown5">Timing</label>
                <select class="form-control" id="dropdown5" name="timing">
                    <option>Choose Timing</option>
                    <option value="08:00 - 09:00">09:00 - 10:00</option>
                    <option value="10:00 - 11:00">10:00 - 11:00</option>
                    <option value="01:00 - 02:00">01:00 - 02:00</option>
                    <option value="02:00 - 03:00">02:00 - 03:00</option>
                    <option value="03:00 - 04:00">03:00 - 04:00</option>
                    <option value="04:00 - 05:00">04:00 - 05:00</option>
                    <option value="05:00 - 06:00">05:00 - 06:00</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dropdown6">Room</label>
                <select class="form-control" id="dropdown6" name="room">
                    <option>Choose Room</option>
                    <option value="Room 1">Room 1</option>
                    <option value="Room 2">Room 2</option>
                    <option value="Room 3">Room 3</option>
                </select>
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>

</html>