<!DOCTYPE html>
<html>

<head>
    <title>Assign Faculty</title>

    <!-- links -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="public/css/faculty_styles.css">    
</head>

<body>
    <div class="container">
        <h1><b>Assign Faculty</b></h1>
        <br>
        <br>
        <%- include('include/form') %>
    </div>
</body>

<!-- scripts -->
<script src="../public/js/index.js"></script>

</html>